body {
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgb(250, 255, 250);
  color: #333;
  font-size: calc(12px + .33vw);
  word-wrap: break-word;
}

.header {
  text-align: center;
}

em {
  font-style: normal;
  color: limegreen;
}

#project_title1, #project_title2 {
  display: inline-block;
  margin-bottom: 2rem;
}

#project_title2 {
  margin-left: 1rem;
  color: darkgreen;
}

h3 {
  margin-bottom: 0;
  font-size: calc(12px + 1vw)
}

h5 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: calc(12px + .66vw)
}

ol, ul {
  margin-left: 4rem;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

#project_title {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  margin-bottom: 10px;
}

#copyright {
  margin-bottom: 10px;
}

.accordion {
  background-color: rgb(236, 243, 236);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 5%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.75s;
  overflow: hidden;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.active, .accordion:hover {
  background-color: rgb(216, 224, 216);
}

.panel {
  padding: 0 18px;
  background-color: rgb(250, 255, 250);;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 500px) {
  body {
  margin-right: 10%;
  margin-left: 10%;
  font-size: calc(12px);
  }
  h3 {
    font-size: calc(12px + 1.5vw);
  }
  h5 {
    font-size: calc(12px + .75vw);
  }
}